<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{% block title %}Address{% endblock %}</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="stylesheet" media="all" href="{{ STATIC_URL }}css/initializr.css"/>
    <link rel="stylesheet" media="all" href="{{ STATIC_URL }}css/style.css"/>

    <!-- jQuery -->
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>

    <!-- Select2 -->
    <script src="{{ STATIC_URL }}select2/select2.js"></script>
    <link rel="stylesheet" media="all" href="{{ STATIC_URL }}select2/select2.css"/>

    {% block extra_head %}{% endblock %}
    <!--[if lt IE 9]>
	<script src="front/try/js/libs/html5shiv-3-respond-1.1.0.min.js"></script>
	<![endif]-->
    <!--[if gte IE 9]>
        <style type="text/css">
            .gradient {
               filter: none;
            }
        </style>
    <![endif]-->
</head>
<body>
<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

<div id="header-container">
    <header class="wrapper clearfix">
        <div class="logo">
            <h1>GourMap</h1>
            <p>Encontre aqui. Onde e o quê você quer comer!</p>
        </div>
        <nav>
            <ul>
                <li><a href="#">Sobre</a></li>
                <li><a href="#">Equipe</a></li>
                <li><a href="#">Contato</a></li>
            </ul>
        </nav>
    </header>
</div>
<div id="main-container">
    <div id="main" class="wrapper clearfix">

        <article>
            <header>
                <h1>5 encontrados</h1>
                <p>Tags: <a href="#">Japonesa</a>, <a href="#">Chinesa</a>, <a href="#">Indiana</a></p>
            </header>
            {% block content %}{% endblock %}
            <footer>
                <h3>Mais opções</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </footer>
        </article>

        <aside>
            <h3>Onde você está?</h3>
            {% block form_address %}{% endblock %}
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper consequat est, eu porta velit mollis nec. Curabitur posuere enim eget turpis feugiat tempor. Etiam ullamcorper lorem dapibus velit suscipit ultrices.</p>
        </aside>

    </div> <!-- #main -->
</div> <!-- #main-container -->

<div id="footer-container">
    <footer class="wrapper">
        <h3>&copy; All rights reserved</h3>
    </footer>
</div>

<script src="front/try/js/script.js"></script>
{% block script %}{% endblock %}
<script>
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
</script>

</body>
</html>